# Ignore __pycache__
cowrie-parser/__pycache__

# Ignore environmental folder 
cowrie-parser/env

# Ignore environmental file
cowrie-parser/.env

# Ignore environmental file in attack-simulation
attack-simulation/.env